<div class="row">
    <div class="col-md-6 offset-3">
      <form (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label>product Name</label>
              <input type="text" name="name" placeholder="Product name" class="form-control"
              [(ngModel)]="product.name">
          </div>
          <div class="form-group">
              <label>product price</label>
              <input type="text" name="price" placeholder="product price" class="form-control"
              [(ngModel)]="product.price">
          </div>
          <div class="form-group">
              <label>product category</label>
              <input type="text" name="category" placeholder="product category" class="form-control"
              [(ngModel)]="product.category">
          </div>
          <div class="form-group">
              <label>product discription</label>
              <input type="text" name="descr" placeholder="product discription" class="form-control"
              [(ngModel)]="product.descr">
          </div>
          <br>
          <div>
              <button class="btn btn-success" >Add new customer</button>
          </div>
      </form>
    </div>
  </div>
