.form-control{
    border-radius: 6px;
}

.card-top{
    position: inherit;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgb(247, 244, 244);
    border-radius: .25rem;
}

.item img{
width: 100px;
height: 100px;
}

.item{
    margin: 10px;
    text-align: center;
    
}

.item :hover{
    color:blue;
}

.card{
    padding: 20px;
    margin: 40px;
}